//variables
$black: #000;
$white: #fff;
$red: #ED323C;
$fsize: 15px;
$gray: #4B4B4D;
$lightblue:#F5FCFF;
$green:#009E1A;
$blue:#004A9B;
$ffamily:"Poppins", sans-serif;

//devices breakpoints
$xs: 0;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;
$xxxl: 1600px;
