@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?23qzk0');
  src:  url('../fonts/icomoon.eot?23qzk0#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?23qzk0') format('truetype'),
    url('../fonts/icomoon.woff?23qzk0') format('woff'),
    url('../fonts/icomoon.svg?23qzk0#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  /* speak: never; */
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-coupon:before {
  content: "\e900";
}
.icon-deals:before {
  content: "\e901";
}
.icon-discount:before {
  content: "\e902";
}
.icon-discounttag:before {
  content: "\e903";
}
.icon-offer:before {
  content: "\e904";
}
.icon-pricetag:before {
  content: "\e905";
}
.icon-tag:before {
  content: "\e906";
}
.icon-camera:before {
  content: "\e907";
}
.icon-cart:before {
  content: "\e908";
}
.icon-close:before {
  content: "\e909";
}
.icon-downarrow:before {
  content: "\e90a";
}
.icon-edit:before {
  content: "\e90b";
}
.icon-facebook:before {
  content: "\e90c";
}
.icon-inr:before {
  content: "\e90d";
}
.icon-instagram:before {
  content: "\e90e";
}
.icon-leftarrow:before {
  content: "\e90f";
}
.icon-linkedin:before {
  content: "\e910";
}
.icon-location:before {
  content: "\e911";
}
.icon-minus:before {
  content: "\e912";
}
.icon-navigation:before {
  content: "\e913";
}
.icon-playicon:before {
  content: "\e914";
}
.icon-plusicon:before {
  content: "\e915";
}
.icon-rightarrow:before {
  content: "\e916";
}
.icon-righticon:before {
  content: "\e917";
}
.icon-search:before {
  content: "\e918";
}
.icon-star:before {
  content: "\e919";
}
.icon-telephone:before {
  content: "\e91a";
}
.icon-toparrow:before {
  content: "\e91b";
}
.icon-tracker:before {
  content: "\e91c";
}
.icon-trash:before {
  content: "\e91d";
}
.icon-twitter:before {
  content: "\e91e";
}
.icon-user:before {
  content: "\e91f";
}
.icon-whatsapp:before {
  content: "\e920";
}
