@import 'variables';
@import 'mixins';
// @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

//common styles
body{
    @include siteMain;
}

a{
    text-decoration: none;
    color:inherit;
    @include transition;    
}
h1, h2, h3, h4, h5{
    // font-family: 'Playfair Display', serif;
    font-weight:500;
}

h1{
    font-size:clamp(1rem, 2.2vw, 2.2rem);
}
h2{
    font-size:clamp(1rem, 2vw, 2rem);
}
h3{
    font-size:clamp(1rem, 1.5vw, 1.5rem);
}
h4{
    font-size:clamp(1rem, 1.2vw, 1.2rem);
    line-height:30px;
}
h5{
    font-size:clamp(0.85rem, 1vw, 1rem);
    line-height:25px;
}

ul,li{
    list-style: none;
    margin:0;
    padding:0;
}
.fred{
    color:$red;
}
.fgreen{
    color:$green;
}
.fsbold{
    font-weight:500;
}
.fbold{
    font-weight:700;
}
.fgray{
    color:$gray;
}
.fblue{
    color:$blue;
}
.fwhite{
    color:$white;
}
.ratingText{
    color:$blue;
}
.navbar-toggler{
    position:absolute;
    top:-172px;
    right:0;

    &:focus{
        outline:none;
        border:none;
        box-shadow: none;
    }
}

.floralTitle{
    position:relative;

    &:after{
        content:'';
        background:url(../img/titlefloral.svg)no-repeat 0 0;        
        width:255px;
        height:16px;
        position:absolute;
        left:50%;
        top:40px;
        margin-left:-128px;
        display:none;
    }
}

.swiper-button-next, .swiper-button-prev{
   width:50px;
    height:50px;
    background:rgba($white, 50%);
    border-radius:50%;

    .icomoon{
        color:$red;
    }
}

.swiper-button-next:after, .swiper-button-prev:after{
    content:'';  
}

.customContainer{
    width:95%;
    margin:0 auto;
}
.robtn{
    background:$red;
    color:$white;
    padding:8px 30px;
    @include borderRadius(25px,25px,25px,25px);    
    border:1px solid transparent;
    @include transition;    

    &:hover{
        background:$white;
        color:$red;
        border:1px solid $red;
    }
}
.robrdbtn{
    background:$white;
    color:$red;
    padding:8px 30px;
    @include borderRadius(25px,25px,25px,25px);    
    border:1px solid $red;
    @include transition;    

    &:hover{
        background:$red;
        color:$white;
        border:1px solid $red;
    }
}


header{
    background:$white;
    @include boxshadow(0, 2px, 2px, lighten($black, 60%));
}

.fixed-theme{
    @include boxshadow(0, 2px, 2px, lighten($black, 60%));

    .topHeader{
        margin-top:-40px;
    }
    .brandLogo{
        width:120px!important;       
    }
    .middleHeader{
        padding-top:10px;
    }
}


//header top styles
.topHeader{   
    padding:4px 0;
    font-size:$fsize - 2;  
    @include transition;       

    a{      
        color:lighten($black, 25%);
        .icomoon{
            font-size:$fsize - 1;
            margin-right:5px;            
        }
        &:hover{
            color:$red;
        }
    }
    .rightTopNavs{
        a{
            padding-left:15px;
            display:inline-block;            
        }
    }
}

//header middle 
.middleHeader{  
    @include max($md){
        margin-top:67px;
    }
    .brandLogo{
        width:140px;
        @include transition;      

        @include max($md){
            width:110px;
        }
    }
    .headerSearch{    
    
        input[type="text"]{
             background:lighten($black, 95%);  
             padding:0 15px;   
             font-size:$fsize - 1;                     

            &:focus{                
                border:none;
                box-shadow: none;
                outline:1px solid lighten($black, 85%);
            }
            width:95%;
            line-height:40px;
        } 
        .icomoon{
            color:lighten($black, 65%);
            font-size:$fsize + 5;     
            top:18px;
            right:20px;    
            
            @include max($sm){
                top:8px;
            }
        }
    }

    .userNav{
        padding-top:0;
        padding-bottom:0;

        @include max($lg){
            position:absolute;
            top:20px;
            right:10px;
        }

        .cartlink{
            @include max($md){
                position:relative;
            }

        .cartValue{
            @include max($md){
                background:$red;
                color:$white;
                width:20px;
                height:20px;
                text-align:center;
                line-height:20px;
                position:absolute;
                top:-6px;
                left:20px;
                font-size:$fsize - 5;
                border-radius:50%;
            }
        }

        }
        .navbar-nav{
            @include max($md){
                flex-direction:row;
                left:-50px;
            }
        }
        .nav-item{
            .icomoon{
                font-size:$fsize * 2 + 2;
                color:lighten($black, 70%);
                padding-right:6px;

                @include max($md){
                    color:lighten($black, 60%);
                    font-size:$fsize + 10;
                }
            }
            .nav-link{
                font-size:$fsize - 1;
                padding-top:0;
                padding-bottom:0;              

                p{
                    padding:0;
                    margin:0;
                    line-height:18px;
                }
                .botText{                   
                    color:$red;
                }
            }
        }
    }
    
    
    .dropdown{       
        .dropdown-menu{
             top:40px;   
             border-radius:0;    
             position:absolute;            
                .dropdown-item{
                    background:$lightblue; 
                    font-size:$fsize - 1;
                    padding:8px 10px;
                    
                    &:hover{
                        background:$red;
                        color:$white;
                    }
                }
            
        }
    }
}


.selectLocationModal{
    .modal-header{
        @include max($sm){
            padding-top:70px;
        }
    }
    .modal-body{
        @include verticalcenter;

        @include max($sm){
            display:block;
        }
    }
}

.mainCities{
    .cityCol{   
        
        margin:5px 0;

        a{
            border:1px solid lighten($black, 85%);
            @include borderRadius(10px, 10px, 10px, 10px);
            display:block;
            padding:15px;
            color:$black;
            @include transition;

            h5{
                margin:0;
            }

            &:hover{
                background:$red;
                color:$white;
                border:1px solid $red;
            }
        }
       
        
               
              
    }

    .autoselectcity{
        margin-bottom:50px;
        .searchCity{
            input[type="text"]{
                border-top:none;
                border-right:none;
                border-left:none;
                border-radius:0;
                margin:0 auto;
                width:100%;
                border-bottom:2px solid lighten($black, 85%);
                padding-left:0;

                &:focus{
                    border:none;
                    outline:none;
                    border-bottom:2px solid $black;
                }
            }
        }
    }    
}

//main nav 
.mainNav{
    background:$red;       

    @include max($md){
        background:none;
    }

    .navbar-nav{
        width:100%!important;

        .nav-item{
            .nav-link{
                color:$white;
                padding:15px;                
                &:hover{
                    color:$white;
                }
            }
        }
        .megamenu{
            .caret{
                border-top-color:$white;
            }
            .navbar-nav{
                background:$lightblue;
                padding:15px;
                
                .nav-item{
                    .nav-link{
                        color:$black;

                        &:hover{
                            color:$red;
                        }
                    }
                }
            }
        }
    }
}

.homeSlider{
    .swiper-pagination-bullet-active{
        background:$red!important;
        opacity:1;
    }
}
.mainSection{
    padding-top:130px;
    min-height:500px;
}
//home slider
//popular Categories
.popularCategories{
    .catrow{
       padding:10px 0 ;

       .catThumb{
           position:relative;
           img{
               @include borderRadius(15px, 15px, 15px, 15px);
               border:2px solid $white;
               @include boxshadow(0, 0, 5px, lighten($black, 60%));
           }
           h6{
               font-size:$fsize - 1;
               position:absolute;
               bottom:10px;
               left:5%;
               right:0;
               background:$white;
               padding:3px;
               width:90%;
               border-radius:15px;  
           }
           &:hover{
               h6{
                   color:$red;
               }
           }
       }
   }
}

//top product banners
.topProductsBanners{
    .topBannerItem{
        h6{
            bottom:0;
            left:0;
            padding:10px 25px;
            background:$white;
            @include borderRadius(0,25px,0,25px);           
            font-size:$fsize;
            color:$white;
        }
    }
    .col-lg-3{
        &:nth-child(1){
            h6{
                background:$red;
            }
        }
         &:nth-child(2){
            h6{
                background:#0295C9;
            }
        }
         &:nth-child(3){
            h6{
                background:#A7509F;
            }
        }
         &:nth-child(4){
            h6{
                background:#FF6903;
            }
        }
    }
}

//product items 
.bestSellersCakes{
    background:#F5F5FF;
}
.bestSellersflowers{
    background:#FEF7F2;
}
.bestSellersCombos{
    background:#F6FFFF;
}
.productItems{
    padding:15px 0;   

    .productItemsRow{
        .productItem{          
            @include boxshadow(0, 0, 5px, lighten($black, 70%));           
            @include borderRadius(15px,15px,0,0);

            @include max($md){
                margin-bottom:15px;
            }

            figure{
                margin:0;
                 overflow: hidden;
                 @include borderRadius(15px,15px,0,0);
                    img{
                        @include transition;
                        @include borderRadius(15px,15px,0,0);
                    &:hover{                       
                        transform: scale(1.06,1.06);
                       
                    }
                }
            }
            article{
                padding:15px;
                background:$white;
                h6{
                    font-size:$fsize + 1;
                    color:lighten($black, 50%);                  
                    margin:0;
                    font-weight:normal;

                    @include max($sm){
                        font-size:$fsize - 1;
                    }

                    a{
                        @include transition;
                        &:hover{
                            color:$red;
                        }
                    }
                }                
            }
        }
    }
}

.pricelabel{
    padding:4px 0 0 0;
    margin:0;
    font-weight:600;

    @include max($sm){
        font-size:$fsize - 2;
    }

    .icomoon{
        font-size:$fsize - 2;

        @include max($sm){
            font-size:$fsize - 5;
        }
    }
    .oldprice{
        color:lighten($black, 50%);
        text-decoration: line-through;
    }
    .offerPer{
        color:$red;
    }
}

.termsHome{
    background:#F9FDFF;
     padding:32px 0;

     h2{
         margin-bottom:50px;        
     }
     p{
        color:lighten($black, 40%);
        font-size:$fsize - 1;
     }
}

footer{
    position:relative;
    .topFooter{
        background:$white;
        padding:20px 0;
        @include boxshadow(0, 5px, 5px, lighten($black, 50%));
        .footerNewsletter{
            background:$white;
            height:50px;
             @include boxshadow(0, 0, 5px, lighten($black, 50%));

             input[type="text"]{
                 height:50px;
                 width:80%;
                 padding:0 20px;

                 &:focus{
                     outline:none;
                 }
             }
             button{
                 height:50px;
                 background:$red;
                 text-transform: uppercase;
                 color:$white;
                 width:20%;
                 text-align:center;

                 @include max($sm){
                     width:auto;
                 }
             }
        }
    }
    .bottomFooter{
        background:$red;
        padding:20px 0;

        h5{
            padding-bottom:15px;
             color:$white;
        }
        ul{
            @include max($sm){
                margin-bottom:25px;
            }
            li{
                a{
                    font-size:$fsize;
                    padding-bottom:10px;
                    display: block;
                    color:$white;

                    @include max($sm){
                        font-size:$fsize - 2;                     
                       
                    }

                    &:hover{
                        color:$white;
                        text-decoration:underline;
                    }
                }
            }
        }
    }
    .socialRow{
        background:darken($red, 10%);
        padding:10px 0;
        p{
            color:$white;
            margin:0;
            padding:0;
            @include max($sm){
                font-size:$fsize - 3;
            }
        }
        .footerSocial{           
            display:flex;
            li{
                margin-right:10px;
                a{
                    width:35px;
                    height:35px;
                    background:$white;
                    text-align:center;
                    @include verticalcenter;
                    border-radius:50%;

                    &:hover{
                        background:$red;
                        color:$white;
                    }
                }
            }
        }
    }
    .moveTop {
    width: 40px;
    height: 40px;
    border: 3px solid $white;
    position: fixed;
    bottom: 11px;
    right: 25px;    
    line-height: 40px;
    text-align: center;
    display:none;
    @include transition;   
    background: $red;
    z-index: 9999;
    text-decoration: none;
    border-radius:50%;
     @include boxshadow(0, 0, 5px, lighten($black, 50%));
    

    &:hover {
      border-radius: 50%;
    }
    .icomoon {
      color: $white;
    }
  }    
}

.autocomplete{
  position: relative;
  display: inline-block;

    .autocomplete-items {
    position: absolute;
    // border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    /*position the autocomplete items to be the same width as the container:*/
    top: 100%;
    left: 0;
    right: 0;
    font-size:$fsize - 2;
    height:500px;
    overflow-y:auto;
    }

    .autocomplete-items div {
    padding: 10px;
    cursor: pointer;
    background-color: #fff; 
    border-bottom: 1px solid #d4d4d4; 
    }

    /*when hovering an item:*/
    .autocomplete-items div:hover {
    background-color: #e9e9e9; 
    }

    /*when navigating through the items using the arrow keys:*/
    .autocomplete-active {
    background-color: DodgerBlue !important; 
    color: #ffffff; 
    }
}

.producttext {
    display: block;
    width: 95%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}


//sub page header 
.subpageHeader{
    padding:10px 0;
    @include max($sm){
        padding:0 0 10px 0;
    }
    .breadcrumb{
        padding:10px 0 0 0;
        margin-bottom:0;
        @include max($sm){
            padding-top:0;
        }
        .breadcrumb-item{
            a{
                font-size:$fsize - 1;

                &:hover{
                    color:$red;
                }
            }
        }
        .active{
            color:$red;
        }
    }
}

//subpage body 
.subpageBody{
    p{
        color:lighten($black, 20%);
    }
  .filterRow{
      p{
          font-size:$fsize - 1;
          
      }
      a{
          margin:0 10px 0 0;
          display:inline-block;
          color:lighten($black, 40%);

          &:hover{
              color:$red;
          }
      }
  }  
  .SearchFiltersRow{     

      .form-group{
          margin-left:-1px;
          @include max($sm){
              width:50%;
          }
          .form-select{
              font-size:$fsize - 1; 
              border:1px solid lighten($black, 75%);
              border-radius:0;
              color:lighten($black, 40%);

              &:focus{
                  box-shadow: none;
              }

              option{
                  padding:10px;
              }              
          }
      }
  }
  .subpageProductItems{
      .productItemCol{
          margin-bottom:25px;     
          position:relative;    
          
      }
      .productItem{
            .badge{
                position:absolute;
                top:10px;
                right:25px;
                text-transform: uppercase;
                z-index: 99;
               
            }
            .badgeBestseller{
                background:$green;
            }
            .badgeOutofStock{
                background:$red;
            }
            
          figure{
              position:relative;             
          }
         article{
             top:0;
             @include transition;   
              .deliveryInfo{
                @include transition;   
                position:absolute;
                bottom:-10px;     
                width:90%;
                display:none!important;      
                opacity:0;                            
            }
         }

         &:hover{
            article{
                 position:relative;
                 top:-20px;
                  @include transition;   

                 .deliveryInfo{
                    display:flex!important;
                    bottom:-10px;   
                    opacity:1;  
                 }
             }
         }
      }      
   }
}

.navPagenation{
    .nav-item{
        .nav-link{
            width:40px;
            height:40px;
            background:lighten($black, 90%);
            border-radius:50%;
            @include verticalcenter;
            color:$black;
            margin:0 2px;

            &:hover{
                background:$red;
                color:$white;
            }            
        }
        .active{
            background:$red;
            color:$white;
        }
    }
}

.simplegallery{
    .typeofveg{
        right:20px;
        top:10px;
        width:25px;
        z-index:99;
    }
}

.productDetailDesc{
    .productTitle{
        font-size:clamp(1rem, 1.5vw, 1.4rem);
        font-weight:500;
    }
}

.ratingStars{
    .icomoon{
        color:lighten($black, 80%);
        font-size:$fsize + 1;
    }
    .active{
        color:$red;
    }
}

.priceSection{
    border-bottom:1px dotted lighten($black, 60%);
    h6{
        font-size:clamp(1.3rem, 1.7vw, 1.7rem); 
        color:lighten($black, 30%);
        font-weight:500;      

        .icomoon{
            font-size:clamp(1rem, 1.2vw, 1.2rem); 
            color:lighten($black, 30%);
            position:relative;
            top:-1px;
        }
    }
    .inctaxes{
        font-size:$fsize - 3;
        color:lighten($black, 50%);
        
    }
}

.oldPrice{
   color:lighten($black, 50%);  
   text-decoration: line-through;

   .icomoon{
       font-size:$fsize - 3;
   }
}

.contentSection{
    padding-top:15px;
    color:lighten($black, 50%);
}
.weightsFilter{
    input{
        position:relative;
        top:1px;
    }
    p{
        padding-right:30px;
        color:lighten($black, 50%);     
        
        @include max($sm){
            padding-right:15px;
        }
    }
    label{
        cursor: pointer;
    }
}
.messageonCake{
    padding-bottom:20px;
    textarea{
        font-size:$fsize - 2;

        &:focus{
            box-shadow: none;
        }
    }
}

.productDescription{
    p{
       color:lighten($black, 50%);  
    }
}

.HighRating{
    h6{
       font-size:clamp(2.5rem, 4vw, 4rem);
       color:lighten($black, 50%);  
    }
}

.reviewScaleItem{
    width:100%;
    height:5px;   
    margin:25px 0;

    .bar{
        width:50%;
        background:lighten($black, 70%);
        position:relative;
        height:5px;
        top:13px;

        .barActive{
        background:$green;
        height:5px;
        position:absolute;
        top:0;
        left:0;
    }    
  }   
}

.customerReviewItem{
    padding:20px 0;
    border-bottom:1px solid lighten($black, 95%);

    .userdetails{
        p{
            color:lighten($black, 50%);
        }
    }
}

.productsListsubcategories{  
   .catrow{
         padding-top:0;
       .catThumb{
           height:200px;

           @include max($md){
               margin-top:15px;
           }

           img{
               height:200px;
               object-fit: cover;
           }
       }
   } 
}

.moreCategoriesrow{
    padding-top:15px;
    a{
        @extend .robtn;

        @include max($lg){
            margin-bottom:10px;
        }
    }
}

.filtersProduct{
   input[type="text"], 
   input[class="datepicker"],
   select
   {
       height:45px;
       border-radius:0;
       border:1px solid lighten($black, 85%);
       padding-left:15px;

       &:focus{
           box-shadow: none;
           outline:1px solid $red;
       }
   }
   .icomoon{
       right:10px;
       top:15px;
   }
}

.gj-datepicker-bootstrap [role=right-icon] button{
    height:45px;
    border-radius:0;
}

.cartItem{
    h6{
        a{
            &:hover{
                color:$red;
            }
        }
    }
    .deliveryInfo{
        .fred{
            color:red;
            @extend .fsbold;
        }
        .fgreen{
            color:$green;
            @extend .fsbold;
        }
    }
}

.cartPaymentTitle, .applycoupon{
    border-bottom:1px dashed lighten($black, 65%);
    margin-bottom:15px;
    padding-bottom:15px;
}
.couponCode{
    padding:5px 10px;
    display:inline-block;
    border:1px dashed lighten($black, 75%);    
}
.couponsList{
    .form-check {
        .form-check-input{
            margin-top:11px;
        }
    }
}
.leftcheckout{
    background:lighten($black, 95%);

    .addressItem{
        background:$white;
        @include boxshadow(0, 1px, 1px, lighten($black, 80%));
        margin-bottom:10px;

        .card-header{
            background:$white;
            padding:15px;
            color:lighten($black, 50%);
            border:none;
        }
        .addressForm{
            .form-control{
                border-radius:0;

                &:focus{
                    box-shadow: none;
                    border:1px solid $red;
                }
            }
        }
        .show{
            border-top:1px solid lighten($black, 85%);
        }
        
    }
}

.checkoutItems{
    .cartItem{
        h6, .pricelabel{
            font-size:$fsize - 1;
        }
    }
}

.contactDetails{
    background:$white;
     @include boxshadow(0, 2px, 2px, lighten($black, 60%));
}

.aboutBanner{
    background:url(../img/aboutbanner.jpg)no-repeat 0 0;
    width:100%;
    background-size:cover;   
    min-height:540px;
    margin:50px 0;
    color:$white;
    @include verticalcenter;

    .icomoon{
        font-size:$fsize * 5;
    }
}


.rtContact{
    background:lighten($black, 95%);
    min-height:400px;
    padding:30px;    
}

.techcol{   
    @include verticalcenter;
    flex-direction:row;
    @include transition;
    justify-content:left;
    margin-bottom:10px;
    font-size:$fsize;
   

    .icomoon{
        font-size:$fsize * 2 + 5;
        margin-right:10px;
    }
    span{
        font-size:$fsize + 5;
    }    
}

.blogCategories{
    li{
        a{
            &:hover{
                color:$red;
            }
            &:before{
                 content: "\e910";
                font-family: 'icomoon' !important;
                position:absolute;
                right:0;
                top:16px;
                font-size:$fsize - 4;
                color:$gray;
            }
        }
    }
}

.recentNews {
    li{        
        a{
            &:hover{
                color:$red;
            }
            figure{
                width:35%;
                margin-right:15px;
                margin-bottom:0;

                img{
                    width:100%;
                    height:65px;
                    object-fit: cover;
                }
            }
            article{
                h6{
                    font-size:$fsize - 1;
                }
                p{
                    font-size:$fsize - 4;
                    color:lighten($black, 50%);
                }
            }
        }
    }
}

.loginrow{
    padding-top:100px;
    padding-bottom:75px;

    @include max($sm){
        padding-top:10px;
        padding-bottom:10px;
    }

    h1{
        padding-bottom:50px;
    }
}

//user profile
.userBanner{
    background:url(../img/userprofilebannerbg.jpg)no-repeat 0 0;
    width:100%;
    background-size:cover;   
    position:relative;
    padding:20px 0;
    .bsnav-brand-top.navbar-expand-sm .navbar-brand{
        @include max($sm){
            text-align:center;
        }
    }
    .navbar-brand{
        position:relative;
       @include max($md){      
        padding:15px;
        display: block;
        text-align:center;
       }
    }

    .bsnav-mobile{
        .navbar{
            width:310px;
        }
    }

    .navbar-toggler{
        top:-260px;    
        right:20px;
        
        .navbar-toggler-icon{
            background:$white;

            &:before{
              background:$white;  
            }
            &:after{
              background:$white;  
            }
        }        
    }
    .toggler-spring.active{
        .navbar-toggler-icon{
             background:$red;

            &:before{
              background:$red;  
            }
            &:after{
              background:$red;  
            }
        }
    }

    @include max($sm){
        padding:0;
    }

    &:before{
        content:'';
        background:url(../img/bg-trans.png)repeat 0 0;
        width:100%;
        height:100%;
        position:absolute;
        top:0;
        left:0;
        right:0;
        bottom:0;
    }
    .userPic{
        width:121px;
        height:121px;

        @include max($sm){
            margin-bottom:15px;
        }

        img{
            border-radius:50%;
            border:4px solid $white;
            width:121px;
        }
    }
    .username{
        color:$white;

        @include max($sm){          
            display:inline-block;
            padding:10px;
        }
    }
    p{
        color:$white;         
       
        
        span{
            display:inline-block;
            padding:0 15px;

            @include max($sm){
                display:block;
                text-align: center;
                padding:0;
            }
        }
    }
    .navbar{
        .nav-item{
            .nav-link{
                color:$white;

                @include max($sm){
                    color:$black;
                    display:block;
                }
            }
            .active{
                span{
                    padding-bottom:5px;
                    display:inline-block;
                    border-bottom:2px solid $red;

                    @include max($md){
                        display:block;
                    }
                }
            }
        }
    }
}

  .userbasnav-mobile.in{       
        .navbar-mobile{
            &:nth-child(1){
                @include max($md){
                   visibility: hidden;
                   opacity:0;   
                   display:none;                
                }
            }
            &:nth-child(2){
                @include max($md){
                   top:60px;
                   position:relative;
                }
            }
           
        }        
    }

//user profile body 
.userProfileBody{
    min-height:450px;

    .breadcrumb{
        @include max($sm){
            display:none;
        }
        .breadcrumb-item{
            font-size:$fsize - 1;
        }
        .active{
            color:$red;
        }
    }

  

    .userMainSection{
        padding:25px 0;

        .gj-datepicker{
            height:60px;

            .btn-outline-secondary{
                height:60px;

                .gj-icon{
                    top:20px;
                }
            }
        }
    }    
}

.faqtable{
    h4{
        margin:0;
        padding:0;
    }
    p{
        padding:0;
        margin:0;
    }
    td{
        padding:5px;
    }
}

.alert{
    top:0;
    right:0;
    z-index:9999;
}

.in{
    opacity:1!important;
}

.addonsProduct{
    .productItemsRow{
        max-height:600px;
        overflow-y: auto;

        .productItem{
            h6{
                a{
                    font-size:$fsize - 1;
                }
            }
        }
    }
  .productItemCol{
      margin-bottom:15px;
  }  
}

.rating-header {
    margin-top: -10px;
    margin-bottom: 10px;
}

.addNewAddress{
    a{
        background:lighten($black, 85%);
        padding:13px;
        @include transition;

        &:hover{
            background:$red;
            color:$white;
        }
    }
}

.addressItem, .orderItem, .wishlistItem{
     @include boxshadow(0, 2px, 2px, lighten($black, 85%));

     p{
         padding-bottom:5px;
         margin-bottom:0;
     }
}

.wishlistItem{
    margin-bottom:15px;
}

.text-underline{
    text-decoration: underline;
}

.blogItem{
    @include max($md){
        padding-bottom:25px;
    }
}

.simplegallery .content{
    @include max($sm){
        height:330px!important;
    }
}

.simplegallery .thumbnail .thumb{
     @include max($sm){
        height:58px!important;
    }
}

.simplegallery {
     @include max($sm){
        height:370px!important;
    }
}

.franchisemodels{
     background:#F9FDFF;
     padding:50px 20px;

     .franchCol{
        article{
            background:$white;
            padding:15px;
            @include boxshadow(0, 2px, 2px, lighten($black, 60%));
        }
}

}

.franchisepage{
    .catThumb{
        @include max($md){
            margin-bottom:15px;
        }
    }
}

.storerow{
    background:$white;
    padding:15px;
    @include boxshadow(0, 2px, 2px, lighten($black, 60%));
}

.form-floating{
    select{
        font-size:$fsize;
    }
}

.cityfilter{
    min-width:200px;
}

.whiteBox{
   background:$white;
   @include boxshadow(0, 2px, 2px, lighten($black, 60%));  
}

.progress-track{
    .track-line {
        height: 2px !important;
        background:lighten($black, 80%);
    }

    .dot {
        height: 10px;
        width: 10px;
        margin-left: 3px;
        margin-right: 3px;
        margin-top: 0px;
        background:lighten($black, 80%);
        border-radius: 50%;
        display: inline-block
    }
    .active{
        background:$green;
    }

    .big-dot {
        height: 25px;
        width: 25px;
        margin-left: 0px;
        margin-right: 0px;
        margin-top: 0px;
        background:lighten($black, 80%);
        border-radius: 50%;
        display: inline-block
    }

    .big-dot i {
        font-size: 12px
    }   
    hr{
        opacity:1;
    }    
}

.enterAmount{
    width:150px;
    margin-left:25px;
    padding:0 10px;
}

.chooseAmount{
    button{
        margin:0 3px;
    }
    .active{
        background:$red;
        color:$white;
        border:1px solid $red;
    }
}

.ranchirow{
    .col-lg-4{
        .d-lg-flex{
            div{
                width:50%;

                .robrdbtn{
                    display:inline-block;
                    padding:8px 20px;
                }

                @include max($lg){
                    width:100%;
                }
            }  
        }
    }
}

#load{
    width:100%;
    height:100%;
    position:fixed;
    z-index:9999;
    background:url("http://code.jquery.com/mobile/1.3.1/images/ajax-loader.gif") no-repeat center center rgba(0,0,0,0.8)
}

.gallery-top {     
      width: 100%;
      height:80%;
}
.gallery-thumbs {
    height: 20%;
    box-sizing: border-box;
    padding: 10px 0;
}
.gallery-thumbs .swiper-slide {
    width: 20%;
    height: 100px;
    opacity: 0.4;
}
.gallery-thumbs .swiper-slide img{
    height:100px;
    width:100%;
    object-fit: cover;
}
.gallery-thumbs .swiper-slide-thumb-active {
    opacity: 1;
}

//new zoom slider 
.show{
  width: 100%;
  height: auto;
}
#show-img { width: auto; height: auto; }
.small-img{
  width: 350px;
  height: 70px;
  margin-top: 10px;
  position: relative;
  left: 25px;
}
.small-img .icon-left, .small-img .icon-right{
  width: 12px;
  height: 24px;
  cursor: pointer;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto 0;
}
.small-img .icon-left{
  transform: rotate(180deg)
}
.small-img .icon-right{
  right: 0;
}
.small-img .icon-left:hover, .small-img .icon-right:hover{
  opacity: .5;
}
.small-container{
  width: 310px;
  height: 70px;
  overflow: hidden;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
}
.small-container div{
  width: 800%;
  position: relative;
}

.small-container .show-small-img{
  width: 70px;
  height: 70px;
  margin-right: 6px;
  cursor: pointer;
  float: left;
}
.small-container .show-small-img:last-of-type{
  margin-right: 0;
}
#big-img{
    z-index: 99;
}




