@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
@media all and (min-width: 992px) {
  .navbar .nav-item .dropdown-menu {
    display: none;
  }
  .navbar .nav-item:hover .dropdown-menu {
    display: block;
  }
  .navbar .nav-item .dropdown-menu {
    margin-top: 0;
  }
}

body {
  font-family: 'Roboto', sans-serif;
  color: #000;
  -webkit-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  font-size: 15px;
  line-height: 25px;
  letter-spacing: 0;
  font-weight: 400;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  vertical-align: middle;
  color: #000;
}

a {
  text-decoration: none;
  color: inherit;
  transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -webkit-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
}

h1, h2, h3, h4, h5 {
  font-weight: 500;
}

h1 {
  font-size: clamp(1rem, 2.2vw, 2.2rem);
}

h2 {
  font-size: clamp(1rem, 2vw, 2rem);
}

h3 {
  font-size: clamp(1rem, 1.5vw, 1.5rem);
}

h4 {
  font-size: clamp(1rem, 1.2vw, 1.2rem);
  line-height: 30px;
}

h5 {
  font-size: clamp(0.85rem, 1vw, 1rem);
  line-height: 25px;
}

ul, li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.fred {
  color: #ED323C;
}

.fgreen {
  color: #009E1A;
}

.fsbold, .cartItem .deliveryInfo .fred, .cartItem .deliveryInfo .fgreen {
  font-weight: 500;
}

.fbold {
  font-weight: 700;
}

.fgray {
  color: #4B4B4D;
}

.fblue {
  color: #004A9B;
}

.fwhite {
  color: #fff;
}

.ratingText {
  color: #004A9B;
}

.navbar-toggler {
  position: absolute;
  top: -172px;
  right: 0;
}

.navbar-toggler:focus {
  outline: none;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.floralTitle {
  position: relative;
}

.floralTitle:after {
  content: '';
  background: url(../img/titlefloral.svg) no-repeat 0 0;
  width: 255px;
  height: 16px;
  position: absolute;
  left: 50%;
  top: 40px;
  margin-left: -128px;
  display: none;
}

.swiper-button-next, .swiper-button-prev {
  width: 50px;
  height: 50px;
  background: white;
  border-radius: 50%;
}

.swiper-button-next .icomoon, .swiper-button-prev .icomoon {
  color: #ED323C;
}

.swiper-button-next:after, .swiper-button-prev:after {
  content: '';
}

.customContainer {
  width: 95%;
  margin: 0 auto;
}

.robtn, .moreCategoriesrow a {
  background: #ED323C;
  color: #fff;
  padding: 8px 30px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  border: 1px solid transparent;
  transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -webkit-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
}

.robtn:hover, .moreCategoriesrow a:hover {
  background: #fff;
  color: #ED323C;
  border: 1px solid #ED323C;
}

.robrdbtn {
  background: #fff;
  color: #ED323C;
  padding: 8px 30px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  border: 1px solid #ED323C;
  transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -webkit-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
}

.robrdbtn:hover {
  background: #ED323C;
  color: #fff;
  border: 1px solid #ED323C;
}

header {
  background: #fff;
  -webkit-box-shadow: 0 2px 2px #999999;
          box-shadow: 0 2px 2px #999999;
  -moz-box-shadowbox-shadow: 0 2px 2px #999999;
  -webkit-box-shadowbox-shadow: 0 2px 2px #999999;
  -ms-box-shadowbox-shadow: 0 2px 2px #999999;
  -o-box-shadowbox-shadow: 0 2px 2px #999999;
}

.fixed-theme {
  -webkit-box-shadow: 0 2px 2px #999999;
          box-shadow: 0 2px 2px #999999;
  -moz-box-shadowbox-shadow: 0 2px 2px #999999;
  -webkit-box-shadowbox-shadow: 0 2px 2px #999999;
  -ms-box-shadowbox-shadow: 0 2px 2px #999999;
  -o-box-shadowbox-shadow: 0 2px 2px #999999;
}

.fixed-theme .topHeader {
  margin-top: -40px;
}

.fixed-theme .brandLogo {
  width: 120px !important;
}

.fixed-theme .middleHeader {
  padding-top: 10px;
}

.topHeader {
  padding: 4px 0;
  font-size: 13px;
  transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -webkit-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
}

.topHeader a {
  color: #404040;
}

.topHeader a .icomoon {
  font-size: 14px;
  margin-right: 5px;
}

.topHeader a:hover {
  color: #ED323C;
}

.topHeader .rightTopNavs a {
  padding-left: 15px;
  display: inline-block;
}

@media (max-width: 768px) {
  .middleHeader {
    margin-top: 67px;
  }
}

.middleHeader .brandLogo {
  width: 140px;
  transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -webkit-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
}

@media (max-width: 768px) {
  .middleHeader .brandLogo {
    width: 110px;
  }
}

.middleHeader .headerSearch input[type="text"] {
  background: #f2f2f2;
  padding: 0 15px;
  font-size: 14px;
  width: 95%;
  line-height: 40px;
}

.middleHeader .headerSearch input[type="text"]:focus {
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: 1px solid #d9d9d9;
}

.middleHeader .headerSearch .icomoon {
  color: #a6a6a6;
  font-size: 20px;
  top: 18px;
  right: 20px;
}

@media (max-width: 576px) {
  .middleHeader .headerSearch .icomoon {
    top: 8px;
  }
}

.middleHeader .userNav {
  padding-top: 0;
  padding-bottom: 0;
}

@media (max-width: 992px) {
  .middleHeader .userNav {
    position: absolute;
    top: 20px;
    right: 10px;
  }
}

@media (max-width: 768px) {
  .middleHeader .userNav .cartlink {
    position: relative;
  }
}

@media (max-width: 768px) {
  .middleHeader .userNav .cartlink .cartValue {
    background: #ED323C;
    color: #fff;
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    position: absolute;
    top: -6px;
    left: 20px;
    font-size: 10px;
    border-radius: 50%;
  }
}

@media (max-width: 768px) {
  .middleHeader .userNav .navbar-nav {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    left: -50px;
  }
}

.middleHeader .userNav .nav-item .icomoon {
  font-size: 32px;
  color: #b3b3b3;
  padding-right: 6px;
}

@media (max-width: 768px) {
  .middleHeader .userNav .nav-item .icomoon {
    color: #999999;
    font-size: 25px;
  }
}

.middleHeader .userNav .nav-item .nav-link {
  font-size: 14px;
  padding-top: 0;
  padding-bottom: 0;
}

.middleHeader .userNav .nav-item .nav-link p {
  padding: 0;
  margin: 0;
  line-height: 18px;
}

.middleHeader .userNav .nav-item .nav-link .botText {
  color: #ED323C;
}

.middleHeader .dropdown .dropdown-menu {
  top: 40px;
  border-radius: 0;
  position: absolute;
}

.middleHeader .dropdown .dropdown-menu .dropdown-item {
  background: #F5FCFF;
  font-size: 14px;
  padding: 8px 10px;
}

.middleHeader .dropdown .dropdown-menu .dropdown-item:hover {
  background: #ED323C;
  color: #fff;
}

@media (max-width: 576px) {
  .selectLocationModal .modal-header {
    padding-top: 70px;
  }
}

.selectLocationModal .modal-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (max-width: 576px) {
  .selectLocationModal .modal-body {
    display: block;
  }
}

.mainCities .cityCol {
  margin: 5px 0;
}

.mainCities .cityCol a {
  border: 1px solid #d9d9d9;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  display: block;
  padding: 15px;
  color: #000;
  transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -webkit-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
}

.mainCities .cityCol a h5 {
  margin: 0;
}

.mainCities .cityCol a:hover {
  background: #ED323C;
  color: #fff;
  border: 1px solid #ED323C;
}

.mainCities .autoselectcity {
  margin-bottom: 50px;
}

.mainCities .autoselectcity .searchCity input[type="text"] {
  border-top: none;
  border-right: none;
  border-left: none;
  border-radius: 0;
  margin: 0 auto;
  width: 100%;
  border-bottom: 2px solid #d9d9d9;
  padding-left: 0;
}

.mainCities .autoselectcity .searchCity input[type="text"]:focus {
  border: none;
  outline: none;
  border-bottom: 2px solid #000;
}

.mainNav {
  background: #ED323C;
}

@media (max-width: 768px) {
  .mainNav {
    background: none;
  }
}

.mainNav .navbar-nav {
  width: 100% !important;
}

.mainNav .navbar-nav .nav-item .nav-link {
  color: #fff;
  padding: 15px;
}

.mainNav .navbar-nav .nav-item .nav-link:hover {
  color: #fff;
}

.mainNav .navbar-nav .megamenu .caret {
  border-top-color: #fff;
}

.mainNav .navbar-nav .megamenu .navbar-nav {
  background: #F5FCFF;
  padding: 15px;
}

.mainNav .navbar-nav .megamenu .navbar-nav .nav-item .nav-link {
  color: #000;
}

.mainNav .navbar-nav .megamenu .navbar-nav .nav-item .nav-link:hover {
  color: #ED323C;
}

.homeSlider .swiper-pagination-bullet-active {
  background: #ED323C !important;
  opacity: 1;
}

.mainSection {
  padding-top: 130px;
  min-height: 500px;
}

.popularCategories .catrow {
  padding: 10px 0;
}

.popularCategories .catrow .catThumb {
  position: relative;
}

.popularCategories .catrow .catThumb img {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  border: 2px solid #fff;
  -webkit-box-shadow: 0 0 5px #999999;
          box-shadow: 0 0 5px #999999;
  -moz-box-shadowbox-shadow: 0 0 5px #999999;
  -webkit-box-shadowbox-shadow: 0 0 5px #999999;
  -ms-box-shadowbox-shadow: 0 0 5px #999999;
  -o-box-shadowbox-shadow: 0 0 5px #999999;
}

.popularCategories .catrow .catThumb h6 {
  font-size: 14px;
  position: absolute;
  bottom: 10px;
  left: 5%;
  right: 0;
  background: #fff;
  padding: 3px;
  width: 90%;
  border-radius: 15px;
}

.popularCategories .catrow .catThumb:hover h6 {
  color: #ED323C;
}

.topProductsBanners .topBannerItem h6 {
  bottom: 0;
  left: 0;
  padding: 10px 25px;
  background: #fff;
  border-top-left-radius: 0;
  border-top-right-radius: 25px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 25px;
  font-size: 15px;
  color: #fff;
}

.topProductsBanners .col-lg-3:nth-child(1) h6 {
  background: #ED323C;
}

.topProductsBanners .col-lg-3:nth-child(2) h6 {
  background: #0295C9;
}

.topProductsBanners .col-lg-3:nth-child(3) h6 {
  background: #A7509F;
}

.topProductsBanners .col-lg-3:nth-child(4) h6 {
  background: #FF6903;
}

.bestSellersCakes {
  background: #F5F5FF;
}

.bestSellersflowers {
  background: #FEF7F2;
}

.bestSellersCombos {
  background: #F6FFFF;
}

.productItems {
  padding: 15px 0;
}

.productItems .productItemsRow .productItem {
  -webkit-box-shadow: 0 0 5px #b3b3b3;
          box-shadow: 0 0 5px #b3b3b3;
  -moz-box-shadowbox-shadow: 0 0 5px #b3b3b3;
  -webkit-box-shadowbox-shadow: 0 0 5px #b3b3b3;
  -ms-box-shadowbox-shadow: 0 0 5px #b3b3b3;
  -o-box-shadowbox-shadow: 0 0 5px #b3b3b3;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

@media (max-width: 768px) {
  .productItems .productItemsRow .productItem {
    margin-bottom: 15px;
  }
}

.productItems .productItemsRow .productItem figure {
  margin: 0;
  overflow: hidden;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.productItems .productItemsRow .productItem figure img {
  transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -webkit-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.productItems .productItemsRow .productItem figure img:hover {
  -webkit-transform: scale(1.06, 1.06);
          transform: scale(1.06, 1.06);
}

.productItems .productItemsRow .productItem article {
  padding: 15px;
  background: #fff;
}

.productItems .productItemsRow .productItem article h6 {
  font-size: 16px;
  color: gray;
  margin: 0;
  font-weight: normal;
}

@media (max-width: 576px) {
  .productItems .productItemsRow .productItem article h6 {
    font-size: 14px;
  }
}

.productItems .productItemsRow .productItem article h6 a {
  transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -webkit-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
}

.productItems .productItemsRow .productItem article h6 a:hover {
  color: #ED323C;
}

.pricelabel {
  padding: 4px 0 0 0;
  margin: 0;
  font-weight: 600;
}

@media (max-width: 576px) {
  .pricelabel {
    font-size: 13px;
  }
}

.pricelabel .icomoon {
  font-size: 13px;
}

@media (max-width: 576px) {
  .pricelabel .icomoon {
    font-size: 10px;
  }
}

.pricelabel .oldprice {
  color: gray;
  text-decoration: line-through;
}

.pricelabel .offerPer {
  color: #ED323C;
}

.termsHome {
  background: #F9FDFF;
  padding: 32px 0;
}

.termsHome h2 {
  margin-bottom: 50px;
}

.termsHome p {
  color: #666666;
  font-size: 14px;
}

footer {
  position: relative;
}

footer .topFooter {
  background: #fff;
  padding: 20px 0;
  -webkit-box-shadow: 0 5px 5px gray;
          box-shadow: 0 5px 5px gray;
  -moz-box-shadowbox-shadow: 0 5px 5px gray;
  -webkit-box-shadowbox-shadow: 0 5px 5px gray;
  -ms-box-shadowbox-shadow: 0 5px 5px gray;
  -o-box-shadowbox-shadow: 0 5px 5px gray;
}

footer .topFooter .footerNewsletter {
  background: #fff;
  height: 50px;
  -webkit-box-shadow: 0 0 5px gray;
          box-shadow: 0 0 5px gray;
  -moz-box-shadowbox-shadow: 0 0 5px gray;
  -webkit-box-shadowbox-shadow: 0 0 5px gray;
  -ms-box-shadowbox-shadow: 0 0 5px gray;
  -o-box-shadowbox-shadow: 0 0 5px gray;
}

footer .topFooter .footerNewsletter input[type="text"] {
  height: 50px;
  width: 80%;
  padding: 0 20px;
}

footer .topFooter .footerNewsletter input[type="text"]:focus {
  outline: none;
}

footer .topFooter .footerNewsletter button {
  height: 50px;
  background: #ED323C;
  text-transform: uppercase;
  color: #fff;
  width: 20%;
  text-align: center;
}

@media (max-width: 576px) {
  footer .topFooter .footerNewsletter button {
    width: auto;
  }
}

footer .bottomFooter {
  background: #ED323C;
  padding: 20px 0;
}

footer .bottomFooter h5 {
  padding-bottom: 15px;
  color: #fff;
}

@media (max-width: 576px) {
  footer .bottomFooter ul {
    margin-bottom: 25px;
  }
}

footer .bottomFooter ul li a {
  font-size: 15px;
  padding-bottom: 10px;
  display: block;
  color: #fff;
}

@media (max-width: 576px) {
  footer .bottomFooter ul li a {
    font-size: 13px;
  }
}

footer .bottomFooter ul li a:hover {
  color: #fff;
  text-decoration: underline;
}

footer .socialRow {
  background: #d9131e;
  padding: 10px 0;
}

footer .socialRow p {
  color: #fff;
  margin: 0;
  padding: 0;
}

@media (max-width: 576px) {
  footer .socialRow p {
    font-size: 12px;
  }
}

footer .socialRow .footerSocial {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer .socialRow .footerSocial li {
  margin-right: 10px;
}

footer .socialRow .footerSocial li a {
  width: 35px;
  height: 35px;
  background: #fff;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 50%;
}

footer .socialRow .footerSocial li a:hover {
  background: #ED323C;
  color: #fff;
}

footer .moveTop {
  width: 40px;
  height: 40px;
  border: 3px solid #fff;
  position: fixed;
  bottom: 11px;
  right: 25px;
  line-height: 40px;
  text-align: center;
  display: none;
  transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -webkit-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  background: #ED323C;
  z-index: 9999;
  text-decoration: none;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 5px gray;
          box-shadow: 0 0 5px gray;
  -moz-box-shadowbox-shadow: 0 0 5px gray;
  -webkit-box-shadowbox-shadow: 0 0 5px gray;
  -ms-box-shadowbox-shadow: 0 0 5px gray;
  -o-box-shadowbox-shadow: 0 0 5px gray;
}

footer .moveTop:hover {
  border-radius: 50%;
}

footer .moveTop .icomoon {
  color: #fff;
}

.autocomplete {
  position: relative;
  display: inline-block;
  /*when hovering an item:*/
  /*when navigating through the items using the arrow keys:*/
}

.autocomplete .autocomplete-items {
  position: absolute;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
  font-size: 13px;
  height: 500px;
  overflow-y: auto;
}

.autocomplete .autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff;
  border-bottom: 1px solid #d4d4d4;
}

.autocomplete .autocomplete-items div:hover {
  background-color: #e9e9e9;
}

.autocomplete .autocomplete-active {
  background-color: DodgerBlue !important;
  color: #ffffff;
}

.producttext {
  display: block;
  width: 95%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.subpageHeader {
  padding: 10px 0;
}

@media (max-width: 576px) {
  .subpageHeader {
    padding: 0 0 10px 0;
  }
}

.subpageHeader .breadcrumb {
  padding: 10px 0 0 0;
  margin-bottom: 0;
}

@media (max-width: 576px) {
  .subpageHeader .breadcrumb {
    padding-top: 0;
  }
}

.subpageHeader .breadcrumb .breadcrumb-item a {
  font-size: 14px;
}

.subpageHeader .breadcrumb .breadcrumb-item a:hover {
  color: #ED323C;
}

.subpageHeader .breadcrumb .active {
  color: #ED323C;
}

.subpageBody p {
  color: #333333;
}

.subpageBody .filterRow p {
  font-size: 14px;
}

.subpageBody .filterRow a {
  margin: 0 10px 0 0;
  display: inline-block;
  color: #666666;
}

.subpageBody .filterRow a:hover {
  color: #ED323C;
}

.subpageBody .SearchFiltersRow .form-group {
  margin-left: -1px;
}

@media (max-width: 576px) {
  .subpageBody .SearchFiltersRow .form-group {
    width: 50%;
  }
}

.subpageBody .SearchFiltersRow .form-group .form-select {
  font-size: 14px;
  border: 1px solid #bfbfbf;
  border-radius: 0;
  color: #666666;
}

.subpageBody .SearchFiltersRow .form-group .form-select:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.subpageBody .SearchFiltersRow .form-group .form-select option {
  padding: 10px;
}

.subpageBody .subpageProductItems .productItemCol {
  margin-bottom: 25px;
  position: relative;
}

.subpageBody .subpageProductItems .productItem .badge {
  position: absolute;
  top: 10px;
  right: 25px;
  text-transform: uppercase;
  z-index: 99;
}

.subpageBody .subpageProductItems .productItem .badgeBestseller {
  background: #009E1A;
}

.subpageBody .subpageProductItems .productItem .badgeOutofStock {
  background: #ED323C;
}

.subpageBody .subpageProductItems .productItem figure {
  position: relative;
}

.subpageBody .subpageProductItems .productItem article {
  top: 0;
  transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -webkit-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
}

.subpageBody .subpageProductItems .productItem article .deliveryInfo {
  transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -webkit-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  position: absolute;
  bottom: -10px;
  width: 90%;
  display: none !important;
  opacity: 0;
}

.subpageBody .subpageProductItems .productItem:hover article {
  position: relative;
  top: -20px;
  transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -webkit-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
}

.subpageBody .subpageProductItems .productItem:hover article .deliveryInfo {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  bottom: -10px;
  opacity: 1;
}

.navPagenation .nav-item .nav-link {
  width: 40px;
  height: 40px;
  background: #e6e6e6;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #000;
  margin: 0 2px;
}

.navPagenation .nav-item .nav-link:hover {
  background: #ED323C;
  color: #fff;
}

.navPagenation .nav-item .active {
  background: #ED323C;
  color: #fff;
}

.simplegallery .typeofveg {
  right: 20px;
  top: 10px;
  width: 25px;
  z-index: 99;
}

.productDetailDesc .productTitle {
  font-size: clamp(1rem, 1.5vw, 1.4rem);
  font-weight: 500;
}

.ratingStars .icomoon {
  color: #cccccc;
  font-size: 16px;
}

.ratingStars .active {
  color: #ED323C;
}

.priceSection {
  border-bottom: 1px dotted #999999;
}

.priceSection h6 {
  font-size: clamp(1.3rem, 1.7vw, 1.7rem);
  color: #4d4d4d;
  font-weight: 500;
}

.priceSection h6 .icomoon {
  font-size: clamp(1rem, 1.2vw, 1.2rem);
  color: #4d4d4d;
  position: relative;
  top: -1px;
}

.priceSection .inctaxes {
  font-size: 12px;
  color: gray;
}

.oldPrice {
  color: gray;
  text-decoration: line-through;
}

.oldPrice .icomoon {
  font-size: 12px;
}

.contentSection {
  padding-top: 15px;
  color: gray;
}

.weightsFilter input {
  position: relative;
  top: 1px;
}

.weightsFilter p {
  padding-right: 30px;
  color: gray;
}

@media (max-width: 576px) {
  .weightsFilter p {
    padding-right: 15px;
  }
}

.weightsFilter label {
  cursor: pointer;
}

.messageonCake {
  padding-bottom: 20px;
}

.messageonCake textarea {
  font-size: 13px;
}

.messageonCake textarea:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.productDescription p {
  color: gray;
}

.HighRating h6 {
  font-size: clamp(2.5rem, 4vw, 4rem);
  color: gray;
}

.reviewScaleItem {
  width: 100%;
  height: 5px;
  margin: 25px 0;
}

.reviewScaleItem .bar {
  width: 50%;
  background: #b3b3b3;
  position: relative;
  height: 5px;
  top: 13px;
}

.reviewScaleItem .bar .barActive {
  background: #009E1A;
  height: 5px;
  position: absolute;
  top: 0;
  left: 0;
}

.customerReviewItem {
  padding: 20px 0;
  border-bottom: 1px solid #f2f2f2;
}

.customerReviewItem .userdetails p {
  color: gray;
}

.productsListsubcategories .catrow {
  padding-top: 0;
}

.productsListsubcategories .catrow .catThumb {
  height: 200px;
}

@media (max-width: 768px) {
  .productsListsubcategories .catrow .catThumb {
    margin-top: 15px;
  }
}

.productsListsubcategories .catrow .catThumb img {
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
}

.moreCategoriesrow {
  padding-top: 15px;
}

@media (max-width: 992px) {
  .moreCategoriesrow a {
    margin-bottom: 10px;
  }
}

.filtersProduct input[type="text"],
.filtersProduct input[class="datepicker"],
.filtersProduct select {
  height: 45px;
  border-radius: 0;
  border: 1px solid #d9d9d9;
  padding-left: 15px;
}

.filtersProduct input[type="text"]:focus,
.filtersProduct input[class="datepicker"]:focus,
.filtersProduct select:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: 1px solid #ED323C;
}

.filtersProduct .icomoon {
  right: 10px;
  top: 15px;
}

.gj-datepicker-bootstrap [role=right-icon] button {
  height: 45px;
  border-radius: 0;
}

.cartItem h6 a:hover {
  color: #ED323C;
}

.cartItem .deliveryInfo .fred {
  color: red;
}

.cartItem .deliveryInfo .fgreen {
  color: #009E1A;
}

.cartPaymentTitle, .applycoupon {
  border-bottom: 1px dashed #a6a6a6;
  margin-bottom: 15px;
  padding-bottom: 15px;
}

.couponCode {
  padding: 5px 10px;
  display: inline-block;
  border: 1px dashed #bfbfbf;
}

.couponsList .form-check .form-check-input {
  margin-top: 11px;
}

.leftcheckout {
  background: #f2f2f2;
}

.leftcheckout .addressItem {
  background: #fff;
  -webkit-box-shadow: 0 1px 1px #cccccc;
          box-shadow: 0 1px 1px #cccccc;
  -moz-box-shadowbox-shadow: 0 1px 1px #cccccc;
  -webkit-box-shadowbox-shadow: 0 1px 1px #cccccc;
  -ms-box-shadowbox-shadow: 0 1px 1px #cccccc;
  -o-box-shadowbox-shadow: 0 1px 1px #cccccc;
  margin-bottom: 10px;
}

.leftcheckout .addressItem .card-header {
  background: #fff;
  padding: 15px;
  color: gray;
  border: none;
}

.leftcheckout .addressItem .addressForm .form-control {
  border-radius: 0;
}

.leftcheckout .addressItem .addressForm .form-control:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
  border: 1px solid #ED323C;
}

.leftcheckout .addressItem .show {
  border-top: 1px solid #d9d9d9;
}

.checkoutItems .cartItem h6, .checkoutItems .cartItem .pricelabel {
  font-size: 14px;
}

.contactDetails {
  background: #fff;
  -webkit-box-shadow: 0 2px 2px #999999;
          box-shadow: 0 2px 2px #999999;
  -moz-box-shadowbox-shadow: 0 2px 2px #999999;
  -webkit-box-shadowbox-shadow: 0 2px 2px #999999;
  -ms-box-shadowbox-shadow: 0 2px 2px #999999;
  -o-box-shadowbox-shadow: 0 2px 2px #999999;
}

.aboutBanner {
  background: url(../img/aboutbanner.jpg) no-repeat 0 0;
  width: 100%;
  background-size: cover;
  min-height: 540px;
  margin: 50px 0;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.aboutBanner .icomoon {
  font-size: 75px;
}

.rtContact {
  background: #f2f2f2;
  min-height: 400px;
  padding: 30px;
}

.techcol {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  flex-direction: row;
  transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -webkit-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  margin-bottom: 10px;
  font-size: 15px;
}

.techcol .icomoon {
  font-size: 35px;
  margin-right: 10px;
}

.techcol span {
  font-size: 20px;
}

.blogCategories li a:hover {
  color: #ED323C;
}

.blogCategories li a:before {
  content: "\e910";
  font-family: 'icomoon' !important;
  position: absolute;
  right: 0;
  top: 16px;
  font-size: 11px;
  color: #4B4B4D;
}

.recentNews li a:hover {
  color: #ED323C;
}

.recentNews li a figure {
  width: 35%;
  margin-right: 15px;
  margin-bottom: 0;
}

.recentNews li a figure img {
  width: 100%;
  height: 65px;
  -o-object-fit: cover;
     object-fit: cover;
}

.recentNews li a article h6 {
  font-size: 14px;
}

.recentNews li a article p {
  font-size: 11px;
  color: gray;
}

.loginrow {
  padding-top: 100px;
  padding-bottom: 75px;
}

@media (max-width: 576px) {
  .loginrow {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

.loginrow h1 {
  padding-bottom: 50px;
}

.userBanner {
  background: url(../img/userprofilebannerbg.jpg) no-repeat 0 0;
  width: 100%;
  background-size: cover;
  position: relative;
  padding: 20px 0;
}

@media (max-width: 576px) {
  .userBanner .bsnav-brand-top.navbar-expand-sm .navbar-brand {
    text-align: center;
  }
}

.userBanner .navbar-brand {
  position: relative;
}

@media (max-width: 768px) {
  .userBanner .navbar-brand {
    padding: 15px;
    display: block;
    text-align: center;
  }
}

.userBanner .bsnav-mobile .navbar {
  width: 310px;
}

.userBanner .navbar-toggler {
  top: -260px;
  right: 20px;
}

.userBanner .navbar-toggler .navbar-toggler-icon {
  background: #fff;
}

.userBanner .navbar-toggler .navbar-toggler-icon:before {
  background: #fff;
}

.userBanner .navbar-toggler .navbar-toggler-icon:after {
  background: #fff;
}

.userBanner .toggler-spring.active .navbar-toggler-icon {
  background: #ED323C;
}

.userBanner .toggler-spring.active .navbar-toggler-icon:before {
  background: #ED323C;
}

.userBanner .toggler-spring.active .navbar-toggler-icon:after {
  background: #ED323C;
}

@media (max-width: 576px) {
  .userBanner {
    padding: 0;
  }
}

.userBanner:before {
  content: '';
  background: url(../img/bg-trans.png) repeat 0 0;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.userBanner .userPic {
  width: 121px;
  height: 121px;
}

@media (max-width: 576px) {
  .userBanner .userPic {
    margin-bottom: 15px;
  }
}

.userBanner .userPic img {
  border-radius: 50%;
  border: 4px solid #fff;
  width: 121px;
}

.userBanner .username {
  color: #fff;
}

@media (max-width: 576px) {
  .userBanner .username {
    display: inline-block;
    padding: 10px;
  }
}

.userBanner p {
  color: #fff;
}

.userBanner p span {
  display: inline-block;
  padding: 0 15px;
}

@media (max-width: 576px) {
  .userBanner p span {
    display: block;
    text-align: center;
    padding: 0;
  }
}

.userBanner .navbar .nav-item .nav-link {
  color: #fff;
}

@media (max-width: 576px) {
  .userBanner .navbar .nav-item .nav-link {
    color: #000;
    display: block;
  }
}

.userBanner .navbar .nav-item .active span {
  padding-bottom: 5px;
  display: inline-block;
  border-bottom: 2px solid #ED323C;
}

@media (max-width: 768px) {
  .userBanner .navbar .nav-item .active span {
    display: block;
  }
}

@media (max-width: 768px) {
  .userbasnav-mobile.in .navbar-mobile:nth-child(1) {
    visibility: hidden;
    opacity: 0;
    display: none;
  }
}

@media (max-width: 768px) {
  .userbasnav-mobile.in .navbar-mobile:nth-child(2) {
    top: 60px;
    position: relative;
  }
}

.userProfileBody {
  min-height: 450px;
}

@media (max-width: 576px) {
  .userProfileBody .breadcrumb {
    display: none;
  }
}

.userProfileBody .breadcrumb .breadcrumb-item {
  font-size: 14px;
}

.userProfileBody .breadcrumb .active {
  color: #ED323C;
}

.userProfileBody .userMainSection {
  padding: 25px 0;
}

.userProfileBody .userMainSection .gj-datepicker {
  height: 60px;
}

.userProfileBody .userMainSection .gj-datepicker .btn-outline-secondary {
  height: 60px;
}

.userProfileBody .userMainSection .gj-datepicker .btn-outline-secondary .gj-icon {
  top: 20px;
}

.faqtable h4 {
  margin: 0;
  padding: 0;
}

.faqtable p {
  padding: 0;
  margin: 0;
}

.faqtable td {
  padding: 5px;
}

.alert {
  top: 0;
  right: 0;
  z-index: 9999;
}

.in {
  opacity: 1 !important;
}

.addonsProduct .productItemsRow {
  max-height: 600px;
  overflow-y: auto;
}

.addonsProduct .productItemsRow .productItem h6 a {
  font-size: 14px;
}

.addonsProduct .productItemCol {
  margin-bottom: 15px;
}

.rating-header {
  margin-top: -10px;
  margin-bottom: 10px;
}

.addNewAddress a {
  background: #d9d9d9;
  padding: 13px;
  transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -webkit-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
}

.addNewAddress a:hover {
  background: #ED323C;
  color: #fff;
}

.addressItem, .orderItem, .wishlistItem {
  -webkit-box-shadow: 0 2px 2px #d9d9d9;
          box-shadow: 0 2px 2px #d9d9d9;
  -moz-box-shadowbox-shadow: 0 2px 2px #d9d9d9;
  -webkit-box-shadowbox-shadow: 0 2px 2px #d9d9d9;
  -ms-box-shadowbox-shadow: 0 2px 2px #d9d9d9;
  -o-box-shadowbox-shadow: 0 2px 2px #d9d9d9;
}

.addressItem p, .orderItem p, .wishlistItem p {
  padding-bottom: 5px;
  margin-bottom: 0;
}

.wishlistItem {
  margin-bottom: 15px;
}

.text-underline {
  text-decoration: underline;
}

@media (max-width: 768px) {
  .blogItem {
    padding-bottom: 25px;
  }
}

@media (max-width: 576px) {
  .simplegallery .content {
    height: 330px !important;
  }
}

@media (max-width: 576px) {
  .simplegallery .thumbnail .thumb {
    height: 58px !important;
  }
}

@media (max-width: 576px) {
  .simplegallery {
    height: 370px !important;
  }
}

.franchisemodels {
  background: #F9FDFF;
  padding: 50px 20px;
}

.franchisemodels .franchCol article {
  background: #fff;
  padding: 15px;
  -webkit-box-shadow: 0 2px 2px #999999;
          box-shadow: 0 2px 2px #999999;
  -moz-box-shadowbox-shadow: 0 2px 2px #999999;
  -webkit-box-shadowbox-shadow: 0 2px 2px #999999;
  -ms-box-shadowbox-shadow: 0 2px 2px #999999;
  -o-box-shadowbox-shadow: 0 2px 2px #999999;
}

@media (max-width: 768px) {
  .franchisepage .catThumb {
    margin-bottom: 15px;
  }
}

.storerow {
  background: #fff;
  padding: 15px;
  -webkit-box-shadow: 0 2px 2px #999999;
          box-shadow: 0 2px 2px #999999;
  -moz-box-shadowbox-shadow: 0 2px 2px #999999;
  -webkit-box-shadowbox-shadow: 0 2px 2px #999999;
  -ms-box-shadowbox-shadow: 0 2px 2px #999999;
  -o-box-shadowbox-shadow: 0 2px 2px #999999;
}

.form-floating select {
  font-size: 15px;
}

.cityfilter {
  min-width: 200px;
}

.whiteBox {
  background: #fff;
  -webkit-box-shadow: 0 2px 2px #999999;
          box-shadow: 0 2px 2px #999999;
  -moz-box-shadowbox-shadow: 0 2px 2px #999999;
  -webkit-box-shadowbox-shadow: 0 2px 2px #999999;
  -ms-box-shadowbox-shadow: 0 2px 2px #999999;
  -o-box-shadowbox-shadow: 0 2px 2px #999999;
}

.progress-track .track-line {
  height: 2px !important;
  background: #cccccc;
}

.progress-track .dot {
  height: 10px;
  width: 10px;
  margin-left: 3px;
  margin-right: 3px;
  margin-top: 0px;
  background: #cccccc;
  border-radius: 50%;
  display: inline-block;
}

.progress-track .active {
  background: #009E1A;
}

.progress-track .big-dot {
  height: 25px;
  width: 25px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  background: #cccccc;
  border-radius: 50%;
  display: inline-block;
}

.progress-track .big-dot i {
  font-size: 12px;
}

.progress-track hr {
  opacity: 1;
}

.enterAmount {
  width: 150px;
  margin-left: 25px;
  padding: 0 10px;
}

.chooseAmount button {
  margin: 0 3px;
}

.chooseAmount .active {
  background: #ED323C;
  color: #fff;
  border: 1px solid #ED323C;
}

.ranchirow .col-lg-4 .d-lg-flex div {
  width: 50%;
}

.ranchirow .col-lg-4 .d-lg-flex div .robrdbtn {
  display: inline-block;
  padding: 8px 20px;
}

@media (max-width: 992px) {
  .ranchirow .col-lg-4 .d-lg-flex div {
    width: 100%;
  }
}

#load {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 9999;
  background: url("http://code.jquery.com/mobile/1.3.1/images/ajax-loader.gif") no-repeat center center rgba(0, 0, 0, 0.8);
}

.gallery-top {
  width: 100%;
  height: 80%;
}

.gallery-thumbs {
  height: 20%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px 0;
}

.gallery-thumbs .swiper-slide {
  width: 20%;
  height: 100px;
  opacity: 0.4;
}

.gallery-thumbs .swiper-slide img {
  height: 100px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.gallery-thumbs .swiper-slide-thumb-active {
  opacity: 1;
}

.show {
  width: 100%;
  height: auto;
}

#show-img {
  width: auto;
  height: auto;
}

.small-img {
  width: 350px;
  height: 70px;
  margin-top: 10px;
  position: relative;
  left: 25px;
}

.small-img .icon-left, .small-img .icon-right {
  width: 12px;
  height: 24px;
  cursor: pointer;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto 0;
}

.small-img .icon-left {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.small-img .icon-right {
  right: 0;
}

.small-img .icon-left:hover, .small-img .icon-right:hover {
  opacity: .5;
}

.small-container {
  width: 310px;
  height: 70px;
  overflow: hidden;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.small-container div {
  width: 800%;
  position: relative;
}

.small-container .show-small-img {
  width: 70px;
  height: 70px;
  margin-right: 6px;
  cursor: pointer;
  float: left;
}

.small-container .show-small-img:last-of-type {
  margin-right: 0;
}

#big-img {
  z-index: 99;
}
/*# sourceMappingURL=style.css.map */